
.App {
  text-align: center;

}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.onOff {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;


}

.selectButton {
  margin: 0;
  padding: 0;
  width: 30px;
  height:  20px;
  border: 1px solid black;

}

.on {

  background-color: green;
}

.off{

  background-color: red;
}

.indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: 3px solid black;
}

span {
  cursor: pointer;

}

span:hover {
  border: 2px solid red;
}